body {
	background: url(https://cloud.githubusercontent.com/assets/26077051/25161508/548f535e-248a-11e7-841e-a37b7414ca1e.jpg);
}
h1 {
	font-family: 'Fredericka the Great', cursive;
	color: #8B0000;
	text-align: center;
	border-color: #8B0000;
	border-style: double; 
	border-width: 2px;
}
img {
	width: 80%;
}
.one, .two, .three, .four {
	font-family: 'La Belle Aurore', cursive;
	font-size: 30px;
	color: #8B0000;
}
.playersChoice, .enemies, .choiceToAttack {
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	color: #8B0000;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }